#header
{
margin:auto;
width: 820px;
}


#articles
{
background-color: #ffffff;
}

body {
	background:url(723946bahu.png) #240F0E center top no-repeat;
	width:980px;		
	margin:auto;
	margin-top:-131px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top: 293px;
}

.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('http://img15.hostingpics.net/pics/250646topMenuImages.png') repeat-x;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(255,255,255); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('http://img15.hostingpics.net/pics/250646topMenuImages.png') 0px -30px no-repeat;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('http://img15.hostingpics.net/pics/250646topMenuImages.png') 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(255,255,255);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('http://img15.hostingpics.net/pics/250646topMenuImages.png') 0px -90px no-repeat; color:rgb(255,255,255);}
.menu li a.active span, .menu li a.active:hover span{background:url('http://img15.hostingpics.net/pics/250646topMenuImages.png') 100% -90px no-repeat;}

#titrearticles
{
clear: left;
background-color: #B02A6A;
padding: -1px;
text-align: left;
margin-top: -27px;
}


#wiii
{
clear: left;
background-color: #CCCCCC;
padding: 10px;
text-align: left;
margin-top: -4px;
}

#espace1
{
clear: left;
background-color: #ffffff;
padding: 5px;
text-align: left;
margin-top: -5px;
a:link 
}

#wiii
{
margin-top : -5px;
clear : left;
background-color: #CCCCCC;
padding : 10px;
}

#espace2
{
clear: left;
background-color: #fff;
padding: 5px;
text-align: left;
margin-top: -9px;
}

#footer
{
margin-top : 4px;
clear : left;
background-color: #CCCCCC;
padding : 10px;
text-align : center;
}

#imagelol { 
position: absolute; 
left: 100px; 
top: 400px; 
} 

#liens a 
{
color : #FF4FB3;
text-decoration : none;
}

#liens a:hover
{
color : #D70D80;
text-decoration : none;
}

SPAN.toto {color:#ffffff;} 

#titre45678
{
margin-top : 4px;
clear : left;
background-color: #AF6598;
padding : 10px;
text-align : left;
}


.flottee {
float:bottom;
}

#titre456786
{
margin-top : 4px;
clear : left;
background-color: #CCCCCC;
padding : 10px;
text-align : left;
}